* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-text {
    font-size: 12px;
    color: #6c757d;
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Tambahkan jarak di atas tombol */
}


.btn:hover {
    background-color: #0056b3;
}


/* css halaman choise file */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.input-group .form-control {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Radius pada sisi kiri untuk input file */
}

.input-group .form-control:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-group-text {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0; /* Radius pada sisi kanan untuk tombol upload */
    cursor: pointer;
}

.input-group-text:hover {
    background-color: #0056b3;
}


/* css actions */
/* styles.css */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Prevent header text from wrapping */
}

th {
    background-color: #f2f2f2;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.edit-button {
    background-color: #4CAF50; /* Green */
}

.delete-button {
    background-color: #f44336; /* Red */
}


